<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "https://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>OpensteamerVirtualMicrophone</string>
	<key>CFBundleIdentifier</key>
	<string>com.elamin.opensteamer.VirtualMicrophoneDriver</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>opensteamer Virtual Microphone</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>CFPlugInFactories</key>
	<dict>
		<key>81CE9D28-D187-499B-84EE-F6AC6159C800</key>
		<string>OpensteamerVirtualMicrophone_Create</string>
	</dict>
	<key>CFPlugInTypes</key>
	<dict>
		<key>443ABAB8-E7B3-491A-B985-BEB9187030DB</key>
		<array>
			<string>81CE9D28-D187-499B-84EE-F6AC6159C800</string>
		</array>
	</dict>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
</dict>
</plist>
